:root{
/* カラー指定 */
--color-Main: ;
--color-Sub01: ;
--color-Sub02: ;
--color-Black: #222;
--color-White: #f7f7f7;
--color-Gray: #f0f0f0;
}

p, button{
    font-family: the-seasons, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: url(../img/bg.png) center center/cover no-repeat;
    z-index: 0;
}

.container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.copy{
    display: flex;
    font-size: 13rem;
    position: absolute;
    writing-mode: vertical-rl;
    white-space: nowrap;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    text-orientation: sideways;
    z-index: 1;
}

.text {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.text h1 {
    font-family: "modak", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14rem, 5vw, 14rem);
    letter-spacing: -0.01em;
    color:var(--color-Black);
    text-align: center;
    line-height: 1;
    display: inline-block;
}

.text p {
    font-size: 2rem;
    display: inline-block;
    color: var(--color-White);
    position: absolute;
    bottom: 10%;
    right: -30%;
    rotate: -5deg;
    display: inline-block;
}

.buttons {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.modelViewer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    
    z-index: 0;

    overflow: hidden;
}

button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;
    background: var(--color-White);
    color: var(--color-Black);
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
}

.play::before{
    content: "";
    margin-right: 0.5rem;
    background: url(../img/play.svg) no-repeat;
    background-size: 100% 100%;
    width: 1rem;
}

.shuffle::before{
    content: "";
    margin-right: 0.5rem;
    background: url(../img/shuffle.svg) no-repeat;
    background-size: 100% 100%;
    width: 1rem;
}

button:hover {
    background: var(--color-Black);
    color: var(--color-White);
}